/* Global */
body {
  background-color: #EA2027;
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 20px;
}

/* Header */
header {
  height: 11vh;
}
header h1 {
  padding: 20px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: #0652DD;
  box-shadow: 5px 5px 30px 10px black;
  color: white;
}

/* Main container */
.main-container {
  background-image: url("/images/background-main-container.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-container .box-1 {
  flex: 35%;
  margin: 100px;
  margin-left: 30px;
  padding: 25px;
  color: white;
  background-color: rgba(234, 32, 39, 0.3);
  box-shadow: 2px 2px 25px 2px #EA2027;
  border-radius: 35px;
}
.main-container .box-1 h1 {
  font-size: 35px;
}
.main-container .box-1 h3 {
  font-size: 20px;
}
.main-container .box-1 p {
  font-size: 20px;
}
.main-container .box-1 ul {
  text-align: left;
  list-style-type: circle;
  font-size: 20px;
}
.main-container .box-2 {
  flex: 65%;
  margin-top: 220px;
  margin-right: 30px;
  color: white;
}
.main-container .box-2 button {
  width: 125px;
  height: 50px;
  margin: 0 50px;
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid #EA2027;
  font-size: 20px;
  color: white;
  box-shadow: 2px 2px 10px 5px #EA2027;
}
.main-container .box-2 button:hover {
  background-color: rgba(6, 82, 221, 0.8);
  border: 2px solid #0652DD;
  box-shadow: 2px 2px 10px 5px #0652DD;
}
.main-container .box-2 .information {
  margin-top: 50px;
  padding: 50px 0;
  font-size: 35px;
  min-height: 100px;
  background-color: rgba(234, 32, 39, 0.3);
  border-radius: 30px;
  box-shadow: 2px 2px 25px 2px #EA2027;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxXQUFBO0FBRUE7RUFDSSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLFNBQUE7QUNBSjs7QURHQTtFQUNJLGNBQUE7RUFDQSwyQkFBQTtFQUFBLHNCQUFBO0VBQ0EsZUFBQTtBQ0FKOztBREdBLFdBQUE7QUFFQTtFQUNJLFlBQUE7QUNESjtBREVJO0VBQ0ksYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSx5QkFBQTtFQUNBLG1DQUFBO0VBQ0EsWUFBQTtBQ0FSOztBRElBLG1CQUFBO0FBRUE7RUFDSSw4REFBQTtFQUNBLDJCQUFBO0VBQ0Esc0JBQUE7RUFDQSw0QkFBQTtFQUNBLFlBQUE7RUFDQSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxtQkFBQTtBQ0ZKO0FESUk7RUFDSSxTQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLFlBQUE7RUFDQSx3Q0FBQTtFQUNBLG9DQUFBO0VBQ0EsbUJBQUE7QUNGUjtBREdRO0VBQ0ksZUFBQTtBQ0RaO0FESVE7RUFDSSxlQUFBO0FDRlo7QURLUTtFQUNJLGVBQUE7QUNIWjtBRE1RO0VBQ0ksZ0JBQUE7RUFDQSx1QkFBQTtFQUNBLGVBQUE7QUNKWjtBRFFJO0VBQ0ksU0FBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0FDTlI7QURPUTtFQUNJLFlBQUE7RUFDQSxZQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0VBQ0EsNkJBQUE7RUFDQSx5QkFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0VBQ0Esb0NBQUE7QUNMWjtBRFFRO0VBQ0ksdUNBQUE7RUFDQSx5QkFBQTtFQUNBLG9DQUFBO0FDTlo7QURTUTtFQUNJLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLHdDQUFBO0VBQ0EsbUJBQUE7RUFDQSxvQ0FBQTtBQ1BaIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */