/* Global */
body {
  background-color: #EA2027;
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 20px;
}

/* Header */
header {
  height: 11vh;
}
header h1 {
  padding: 20px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: #0652DD;
  box-shadow: 5px 5px 30px 10px black;
  color: white;
}

/* Main container */
.main-container {
  background-image: url("/images/background-main-container.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
  position: relative;
}
.main-container .container {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
.main-container .container button {
  width: 125px;
  height: 50px;
  margin: 0 50px;
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid #EA2027;
  font-size: 20px;
  color: white;
  box-shadow: 2px 2px 10px 5px #EA2027;
}
.main-container .container button:hover {
  background-color: #0652DD;
  border: 2px solid #0652DD;
  box-shadow: 2px 2px 10px 5px #0652DD;
}
.main-container .container .information {
  margin-top: 50px;
  padding: 50px 0;
  font-size: 35px;
  min-height: 100px;
  background-color: rgba(234, 32, 39, 0.3);
  border-radius: 30px;
  box-shadow: 2px 2px 25px 2px #EA2027;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxXQUFBO0FBRUE7RUFDSSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLFNBQUE7QUNBSjs7QURHQTtFQUNJLGNBQUE7RUFDQSwyQkFBQTtFQUFBLHNCQUFBO0VBQ0EsZUFBQTtBQ0FKOztBREdBLFdBQUE7QUFFQTtFQUNJLFlBQUE7QUNESjtBREVJO0VBQ0ksYUFBQTtFQUNBLG1CQUFBO0VBQ0EsdUJBQUE7RUFDQSx5QkFBQTtFQUNBLG1DQUFBO0VBQ0EsWUFBQTtBQ0FSOztBRElBLG1CQUFBO0FBRUE7RUFDSSw4REFBQTtFQUNBLDJCQUFBO0VBQ0Esc0JBQUE7RUFDQSw0QkFBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtBQ0ZKO0FER0k7RUFDSSxrQkFBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsWUFBQTtFQUNBLGdDQUFBO0FDRFI7QURFUTtFQUNJLFlBQUE7RUFDQSxZQUFBO0VBQ0EsY0FBQTtFQUNBLG1CQUFBO0VBQ0EsNkJBQUE7RUFDQSx5QkFBQTtFQUNBLGVBQUE7RUFDQSxZQUFBO0VBQ0Esb0NBQUE7QUNBWjtBREdRO0VBQ0kseUJBQUE7RUFDQSx5QkFBQTtFQUNBLG9DQUFBO0FDRFo7QURJUTtFQUNJLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLHdDQUFBO0VBQ0EsbUJBQUE7RUFDQSxvQ0FBQTtBQ0ZaIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */