/* Global */
body {
  background-color: #EA2027;
  text-align: center;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 0 20px;
}

/* Header */
header {
  height: 12vh;
}
header h1 {
  padding: 20px;
  margin-top: 35px;
  border-radius: 35px;
  border: 2px solid black;
  background-color: #0652DD;
  box-shadow: 5px 5px 30px 10px black;
  color: white;
}

/* Main container */
.main-container {
  background-image: url("/images/background-main-container.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.main-container .box-1 {
  flex: 35%;
  margin: 100px;
  margin-left: 50px;
  padding: 25px;
  color: white;
  background-color: rgba(234, 32, 39, 0.3);
  box-shadow: 2px 2px 25px 2px #EA2027;
  border-radius: 35px;
}
.main-container .box-1 h1 {
  font-size: 35px;
}
.main-container .box-1 h3 {
  font-size: 20px;
}
.main-container .box-1 p {
  font-size: 20px;
}
.main-container .box-1 ul {
  text-align: left;
  list-style-type: circle;
  font-size: 20px;
}
.main-container .box-2 {
  flex: 65%;
  margin-top: 285px;
  margin-right: 50px;
  color: white;
  position: relative;
}
.main-container .box-2 .results {
  background-color: rgba(234, 32, 39, 0.3);
  box-shadow: 2px 2px 25px 2px #EA2027;
  border-radius: 30px;
  width: 300px;
  height: 65px;
  position: absolute;
  left: 50%;
  top: -18%;
  transform: translate(-50%, -50%);
  padding: 8px;
}
.main-container .box-2 button {
  width: 125px;
  height: 50px;
  margin: 0 20px;
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid #EA2027;
  font-size: 20px;
  color: white;
  box-shadow: 2px 2px 10px 5px #EA2027;
}
.main-container .box-2 button:hover {
  background-color: rgba(6, 82, 221, 0.8);
  border: 2px solid #0652DD;
  box-shadow: 2px 2px 10px 5px #0652DD;
}
.main-container .box-2 .information {
  margin-top: 50px;
  padding: 50px 0;
  font-size: 35px;
  min-height: 100px;
  background-color: rgba(234, 32, 39, 0.3);
  border-radius: 30px;
  box-shadow: 2px 2px 25px 2px #EA2027;
}

/* Footer */
footer {
  color: white;
  font-size: 20px;
  padding-top: 13px;
  letter-spacing: 2px;
  font-style: oblique;
}

/* Media */
@media (min-width: 768px) and (max-width: 991px) {
  .main-container .box-1 {
    margin: 80px;
    margin-left: 50px;
  }
  .main-container .box-2 {
    margin-top: 380px;
    margin-right: 50px;
  }
  .main-container .box-2 button {
    margin: 0 15px;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxXQUFBO0FBRUE7RUFDSSx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLFNBQUE7QUNBSjs7QURHQTtFQUNJLGNBQUE7RUFDQSwyQkFBQTtFQUFBLHNCQUFBO0VBQ0EsZUFBQTtBQ0FKOztBREdBLFdBQUE7QUFFQTtFQUNJLFlBQUE7QUNESjtBREVJO0VBQ0ksYUFBQTtFQUNBLGdCQUFBO0VBQ0EsbUJBQUE7RUFDQSx1QkFBQTtFQUNBLHlCQUFBO0VBQ0EsbUNBQUE7RUFDQSxZQUFBO0FDQVI7O0FESUEsbUJBQUE7QUFFQTtFQUNJLDhEQUFBO0VBQ0EsMkJBQUE7RUFDQSxzQkFBQTtFQUNBLDRCQUFBO0VBQ0EsWUFBQTtFQUNBLGFBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0FDRko7QURJSTtFQUNJLFNBQUE7RUFDQSxhQUFBO0VBQ0EsaUJBQUE7RUFDQSxhQUFBO0VBQ0EsWUFBQTtFQUNBLHdDQUFBO0VBQ0Esb0NBQUE7RUFDQSxtQkFBQTtBQ0ZSO0FER1E7RUFDSSxlQUFBO0FDRFo7QURJUTtFQUNJLGVBQUE7QUNGWjtBREtRO0VBQ0ksZUFBQTtBQ0haO0FETVE7RUFDSSxnQkFBQTtFQUNBLHVCQUFBO0VBQ0EsZUFBQTtBQ0paO0FEUUk7RUFDSSxTQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtBQ05SO0FET1E7RUFDSSx3Q0FBQTtFQUNBLG9DQUFBO0VBQ0EsbUJBQUE7RUFDQSxZQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFNBQUE7RUFDQSxnQ0FBQTtFQUNBLFlBQUE7QUNMWjtBRFFRO0VBQ0ksWUFBQTtFQUNBLFlBQUE7RUFDQSxjQUFBO0VBQ0EsbUJBQUE7RUFDQSw2QkFBQTtFQUNBLHlCQUFBO0VBQ0EsZUFBQTtFQUNBLFlBQUE7RUFDQSxvQ0FBQTtBQ05aO0FEU1E7RUFDSSx1Q0FBQTtFQUNBLHlCQUFBO0VBQ0Esb0NBQUE7QUNQWjtBRFVRO0VBQ0ksZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0VBQ0Esd0NBQUE7RUFDQSxtQkFBQTtFQUNBLG9DQUFBO0FDUlo7O0FEYUEsV0FBQTtBQUVBO0VBQ0ksWUFBQTtFQUNBLGVBQUE7RUFDQSxpQkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUJBQUE7QUNYSjs7QURjQSxVQUFBO0FBRUE7RUFFUTtJQUNJLFlBQUE7SUFDQSxpQkFBQTtFQ2JWO0VEZ0JNO0lBQ0ksaUJBQUE7SUFDQSxrQkFBQTtFQ2RWO0VEZ0JVO0lBQ0ksY0FBQTtFQ2RkO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */