/* Global */

body {
    background-color: #EA2027;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: max-content;
    padding: 0 20px;
}

/* Header */

header {
    height: 12vh;
    h1 {
        padding: 20px;
        margin-top: 35px;
        border-radius: 35px;
        border: 2px solid black;
        background-color: #0652DD;
        box-shadow: 5px 5px 30px 10px black;
        color: white;
    }
}

/* Main container */

.main-container {
    background-image: url("/images/background-main-container.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .box-1 {
        flex: 35%;
        margin: 100px;
        margin-left: 50px;
        padding: 25px;
        color: white;
        background-color: rgba(#EA2027, 0.3);
        box-shadow: 2px 2px 25px 2px #EA2027;
        border-radius: 35px;
        h1 {
            font-size: 35px;
        }

        h3 {
            font-size: 20px;
        }

        p {
            font-size: 20px;
        }

        ul {
            text-align: left;
            list-style-type: circle;
            font-size: 20px;
        }
    }

    .box-2 {
        flex: 65%;
        margin-top: 285px;
        margin-right: 50px;
        color: white;
        position: relative;
        .results {
            background-color: rgba(#EA2027, 0.3);
            box-shadow: 2px 2px 25px 2px #EA2027;
            border-radius: 30px;
            width: 300px;
            height: 65px;
            position: absolute;
            left: 50%;
            top: -18%;
            transform: translate(-50%, -50%);
            padding: 8px;
        }

        button {
            width: 125px;
            height: 50px;
            margin: 0 20px;
            border-radius: 40px;
            background-color: transparent;
            border: 2px solid #EA2027;
            font-size: 20px;
            color: white;
            box-shadow: 2px 2px 10px 5px #EA2027;
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(#0652DD, 0.8);
            border: 2px solid #0652DD;
            box-shadow: 2px 2px 10px 5px #0652DD;
        }

        .information {
            margin-top: 50px;
            padding: 50px 0;
            font-size: 35px;
            min-height: 100px;
            background-color: rgba(#EA2027, 0.3) ;
            border-radius: 30px;
            box-shadow: 2px 2px 25px 2px #EA2027;
        }
    }
}

/* Footer */

footer {
    color: white;
    font-size: 20px;
    padding-top: 13px;
    letter-spacing: 2px;
    font-style: oblique;
}

/* Media */

@media (max-width: 991px) {
    .main-container {
        .box-1 {
            margin: 80px;
            margin-left: 50px;
        }

        .box-2 {
            margin-top: 380px;
            margin-right: 50px;

            button {
                margin: 0 15px;
            }
        }
    }
}