/* Global */

body {
    background-color: #E87609;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: max-content;
    padding: 0 20px;
}

/* Main container */

.main-container {
    background-image: url("/images/background-main-container.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    position: relative;
    .container {
        position: absolute;
        top: 40%;
        left: 33%;
        color: white;
        button {
            width: 125px;
            height: 50px;
            margin: 0 50px;
            border-radius: 40px;
            background-color: transparent;
            border: 2px solid #E87609;
            font-size: 20px;
            color: white;
        }

        button:hover {
            background-color: #E87609;
        }

        .information {
            margin-top: 50px;
            padding: 50px 0;
            font-size: 35px;
            
            background-color: rgba(#E87609, 0.3) ;
            border-radius: 30px;
            box-shadow: 2px 2px 25px 2px #E87609;
        }
    }
}