/* Global */

body {
    background-color: #EA2027;
    text-align: center;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: max-content;
    padding: 0 20px;
}

/* Header */

header {
    height: 11vh;
    h1 {
        padding: 20px;
        border-radius: 35px;
        border: 2px solid black;
        background-color: #0652DD;
        box-shadow: 5px 5px 30px 10px black;
        color: white;
    }
}

/* Main container */

.main-container {
    background-image: url("/images/background-main-container.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 75vh;
    position: relative;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        button {
            width: 125px;
            height: 50px;
            margin: 0 50px;
            border-radius: 40px;
            background-color: transparent;
            border: 2px solid #EA2027;
            font-size: 20px;
            color: white;
            box-shadow: 2px 2px 10px 3px #EA2027;
        }

        button:hover {
            background-color: #EA2027;
        }

        .information {
            margin-top: 50px;
            padding: 50px 0;
            font-size: 35px;
            min-height: 100px;
            background-color: rgba(#EA2027, 0.3) ;
            border-radius: 30px;
            box-shadow: 2px 2px 25px 2px #EA2027;
        }
    }
}